.buttonMenu {
    -fx-background-color :  #C1E1FF;
    -fx-background-radius: 20;
    -fx-font-family: "Reem Kufi";
    -fx-text-fill: black;
    -fx-font-size: 42;
}

.buttonMenu:hover {
    -fx-background-color : #80c4ff;
}

.buttonMenu:pressed {
    -fx-background-color: #299bff;
}

.back {
    -fx-background-color :  transparent;
}
